{% extends 'EndroidSoccerCalendarBundle::base.html.twig' %}

{% block body %}

    <h1>Soccer Calendars</h1>

    <div class="table-responsive">

        {% for competition in competitions %}

            <table class="table table-striped table-bordered">
                <tr>
                    <th colspan="2">{{ competition.name }}</th>
                </tr>

                {% for team in competition.teams %}

                    <tr>
                        <td><a href="{{ team.url }}">{{ team.name }}</a></td>
                        <td width="20"><a href="{{ team.url }}"><span class="glyphicon glyphicon-calendar"></span></a></td>
                    </tr>

                {% endfor %}

            </table>

        {% endfor %}

    </div>

{% endblock %}